<div>
<p><strong>Note:</strong> Do not purchase for now. I'm currently preparing a massive update to the client, server, database and tools.</p>
<p>If you've already purchased, you will receive the updated version when it's completed in a few months.</p>
<p>Sell Laghaim Server &ndash; $100</p>
<ul>
<li>Laghaim Server (Compiled)</li>
<li>Laghaim Client</li>
<li>Laghaim Guardian</li>
<li>Game Database</li>
<li>Registration page.</li>
<li><a href="/laghaim-server/">Buy Link</a></li>
</ul>
<p>Sell Laghaim Server, Source Code and all tools &ndash; $200</p>
<ul>
<li>Laghaim Server (Compiled)</li>
<li>Laghaim Server source code</li>
<li>Laghaim Client source code</li>
<li>Laghaim Guardian</li>
<li>Launcher / updater</li>
<li>Map Editor</li>
<li>3D Model tools and editor</li>
<li>Client .CSY .BPD .LOLO .SEK .WXY decrypt/encrypt and edit</li>
<li>LHTool_Data (updated for windows 10)</li>
<li>Decoder (for .dta files)</li>
<li>Full website design, registration, ranking</li>
<li>Laghaim website admin panel.</li>
<li>+ Other tools, all come with source code.</li>
<li><a href="/laghaim-server-source-tools/">Buy link</a></li>
</ul>
<p>Server installation:</p>
<ul>
<li>Minimum server requirements: 2 CPU 4GB RAM.</li>
</ul>
</div>
