<div>
<div><main>
<article><header>
<h1>Checkout</h1>
</header>
<div>
<div>
<div>
<div role="alert"> &ldquo;Laghaim Server, source & tools&rdquo; has been added to your basket.</div>
</div>
<form action="/checkout/laghaim-server-source-tools/" enctype="multipart/form-data" method="" name="checkout">
<div>
<div>
<div>
<h3>Billing details</h3>
<div>
<p data-priority="110"><label for="billing_email">Email address:&nbsp;<abbr title="required"></abbr></label><input autocomplete="email username" name="billing_email" type="email" value="" placeholder="" required/></p>
</div>
</div>
</div>
<div>
<div>
<h3>Additional information</h3>
<div>
<p data-priority=""><label for="order_comments">Order notes&nbsp;(optional):&nbsp;</label><br><textarea cols="30" name="order_comments" rows="4" placeholder=""></textarea></p>
</div>
</div>
</div>
</div>
<h3>Your order</h3>
<div>
<table>
<thead>
<tr>
<th>Product</th>
<th>Subtotal</th>
</tr>
</thead>
<tbody>
<tr>
<td>Laghaim Server, source & tools <strong>&times;&nbsp;1</strong></td>
<td><bdi>$200.00</bdi></td>
</tr>
</tbody>
<tfoot>
<tr>
<th>Subtotal</th>
<td><bdi>$200.00</bdi></td>
</tr>
<tr>
<th>Total</th>
<td><strong><bdi>$200.00</bdi></strong></td>
</tr>
</tfoot>
</table>
<div>
<ul>
<li><input checked="checked" name="payment_method" type="radio" value="payment_gateway" data-order_button_text="" /> <label for="payment_method_gateway"> Pay with cryptocurrency </label>
<div>
<p data-priority=""><label for="currency_id">Choose a cryptocurrency:&nbsp;<abbr title="required"></abbr></label><select name="currency_id" data-placeholder="">
<option selected="selected" value="B">&#x42;&#x69;&#x74;&#x63;&#x6F;&#x69;&#x6E;</option>
</select></p>
</div>
</li>
</ul>
<button name="checkout_place_order" type="submit" value="Place order" data-value="Place order">Place order</button> <input name="process-checkout-nonce" type="hidden" value="f0fd1ad310" /><input name="_pay_http_referer" type="hidden" value="/checkout/laghaim-server-source-tools/" /></div>
</div>
</form></div>
</div>
</article>
</main></div>
</div>
