<p>Email: <a href="mailto:lh-dev.net@pm.me">lh-dev.net@pm.me</a></p>

<header><h1>Website Updates</h1></header>

<p>26/10/2021:</p>
<p>- Added new tools and descriptions.</p>
<p>02/09/2021:</p>
<p>- Added Atlant map and new item db to private section.</p>
<p>01/09/2021:</p>
<p>- Updated Test Server.</p>
<p>09/08/2021:</p>
<p>- Updated video guide for new content.</p>
<p>28/04/2021:</p>
<p>- Test server back online.</p>
<p>19/04/2021:</p>
<p>- Updated Private section.<br />- Added config to run on low memory servers.</p>
<p>20/02/2021:</p>
<p>- Site Updated</p>
<p>06/01/2021:</p>
<p>- Updated Private section.</p>
<p>22/12/2020:</p>
<p>- Hardened webserver to prevent any downtime.<br />- Updated Private section.</p>
