<h1>Order received</h1>
<div>
<div>
<div>
<p>Thank you. Your order has been received.</p>
<ul>
<li>Date: <strong><script>document.write(new Date().toDateString());</script></strong></li>
<li>Total: <strong><bdi>$200.00</bdi></strong></li>
<li>Payment method: <strong>Pay with cryptocurrency</strong></li>
</ul>
<h2>Awaiting payment</h2>
<ul>
<li>
<p>QR Code payment:</p>
<div><img src="{{site.baseurl}}/assets/qrcode200.png" /></div>
</li>
<li>
<p>&#x57;&#x61;&#x6C;&#x6C;&#x65;&#x74; Address: <strong> 15fDpeBXMKJ8GQRT9Yq7Deb935innLnGkK </strong></p>
</li>
<li>
<p>Currency: <svg aria-hidden="true" class="icon"><use xlink:href="/assets/fontawesome/icons.svg#bicon"></use></svg><strong> &#x42;&#x69;&#x74;&#x63;&#x6F;&#x69;&#x6E; </strong></p>
</li>
<li>
<p>Total: <a href="https://blockchain.info/tobtc?currency=USD&value=200" target="_blank" rel="noopener noreferrer">Calculate amount</a></p>
</li>
</ul>
<section>
<h2>Order details</h2>
<table>
<thead>
<tr>
<th>Product</th>
<th>Total</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/laghaim-server-source-tools/">Laghaim Server, source & tools</a> <strong>&times;&nbsp;1</strong></td>
<td><bdi>$200.00</bdi></td>
</tr>
</tbody>
<tfoot>
<tr>
<th scope="row">Subtotal:</th>
<td>$200.00</td>
</tr>
<tr>
<th scope="row">Payment method:</th>
<td>Pay with cryptocurrency</td>
</tr>
<tr>
<th scope="row">Total:</th>
<td>$200.00</td>
</tr>
</tfoot>
</table>
</section>
</div>
</div>
</div>
