<div>
<p>This is a test server running with default values.&nbsp;</p>
<p><strong>Create account:</strong></p>
<p><strong>Currently offline.</strong></p>
<p><strong>Client download:</strong></p>
<p>Google Drive: <a href="https://drive.google.com/uc?id=1WZIsp9rIaIOvatcZWEsgCDGUJoiqv6fZ&export=download" target="_blank" rel="noopener noreferrer">Download</a></p>
<p>Mega: <a href="https://mega.nz/file/LQYywRYJ#w9bfoRO_BA-Dz6gUVlsQm4bXbJGhdQBoaMCHXwUxKdQ" target="_blank" rel="noopener noreferrer">Download</a></p>
</div>
