<div>
<p><strong>LHToolData:</strong></p>
<p>Used to create/edit Items, Shops, NPCs, Skills, quests and generate client files: item_new.dta, item.str, quest.dta npc.dta</p>
<p>This tool edits the database live, so make sure the server is offline and any changes to items/npcs/shops will require the client files to also be updated including adding additional lines to tables like item_table.txt</p>
<figure><img src="{{site.baseurl}}/assets/1.jpg"></figure>
<figure><img src="{{site.baseurl}}/assets/2.jpg"></figure>
<p><strong>NKMapTool &ndash; Map Editor</strong></p>
<p>Used to create/edit maps, and create player/monster collision maps for the server /data/*.att <br />Keep the directory structure the same or you will have problems opening/saving files.</p>
<figure><img src="{{site.baseurl}}/assets/3.jpg"></figure><figure>
<div><iframe title="Laghaim - Map Editor." src="https://www.youtube.com/embed/sDxnhe8fEZE?feature=oembed" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</figure>
<p><strong>Laghaim Guardian</strong></p>
<p>Server mangement/monitor for windows, easily setup server config files.</p>
<figure>
<div><iframe title="Laghaim_Guardian - Windows Server" src="https://www.youtube.com/embed/6n73tUKekb0?feature=oembed" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</figure>
<p><strong>Item_Decoder</strong></p>
<p>Used to decode item_new.dta files and create an importable t_item table. Main purpose is to grab latest items/updates with perfect matching values from the official korean server.</p>
<figure>
<div><iframe title="item_new.dta decrypt and import database" src="https://www.youtube.com/embed/nbd-BXkng54?feature=oembed" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</figure>
<p><strong>Skill_Decoder</strong></p>
<p>Used to decode skill.dta files. (for extracting original skill data/translations from old clients)</p>
<figure><img src="{{site.baseurl}}/assets/skill.jpg"></figure>"></figure>
<p><strong>Quest_Decoder</strong></p>
<p>Used to decode quest.dta files. (for extracting the original quest data/quest translations)</p>
<figure><img src="{{site.baseurl}}/assets/quest.jpg"></figure>"></figure>
<p><strong>LH Launcher</strong></p>
<p>Used to push updates to the client/verify/launch the game. Follow the readme instructions to setup webserver and edit launcher source to point to your server.</p>
<p><strong>LH_ToolPack</strong></p>
<p>For packing/unpacking .lrf /.lrs files.</p>
<p><strong>GM Config</strong></p>
<p>Requires character &lsquo;a_admin&rsquo; 11 in &lsquo;kor_ndev_neogeo_char&rsquo; and the file config.ini2 present the client folder. You can also disable this in the source or update the required config.ini2 value from 15 to a custom value.</p>
<p><strong>Svrlist.dta editor</strong></p>
<p>Edit Client Server list name and ip.</p>
<p><strong>Client Texture Editing</strong></p>
<p>Python scripts for encrypting/decrypting client texture files.</p>
<p>WXYtoBMP.py<br />BMPtoWXY.py<br />SEKtoTGA.py<br />TGAtoSEK.py</p>
<p><strong>Client 3D model/animation creator</strong></p>
<p>Original 3DS Max 9 plugins from Laghaim NAKO 2000, for creating .CSY .LOLO .BPD, 3d models, npc, monster, items, animations.</p>
<p>Capsyong Exporter &ndash; Copyright (c) 2000 NAKO<br />Biped Exported &ndash; Copyright (c) 2000 NAKO<br />Lolo Exporter &ndash; Copyright (c) 2000 NAKO</p>
<p>CapsyongExp.dle<br />BipedExp.dle<br />LoloExp.dle</p>
<p>updating video guide.(check private section)</p>
<p><strong>LH Model Edit</strong></p>
<p>Used to export Laghaim 3d models, npc, monsters, buildings/objects, items, weapons (.csy .bpd .lolo) to .obj .mesh with bone data for editing in 3DS Max or other programs.</p>
<figure>
<div><iframe title="Laghaim - Export model with bones example." src="https://www.youtube.com/embed/8W1YwzMXH3s?feature=oembed" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</figure>
<figure>
<div><iframe title="Laghaim - Edit, Export any game models, npc, weapons" src="https://www.youtube.com/embed/AZQHf24pIag?feature=oembed" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</figure>
<p><strong>Laghaim control panel &amp; Website template</strong></p>
<p>Player management, registration, ranking.</p>
<figure>
<div><iframe title="Laghaim admin control panel &amp; website template" src="https://www.youtube.com/embed/nbezUwCn3nQ?feature=oembed" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</figure>
</div>
