@media (min-width: 50em)
  @font-face
    font-family: Helvetica, Arial, sans-serif, -apple-system
    font-weight: normal
    font-style: normal

  @font-face
    font-family: 'Playfair Display', serif, -apple-system
    font-weight: bold
    font-style: normal
